/*
CSS styles
*/
/*
Fonts
*************************/

@font-face {
				font-family: 'Genericons';
				src: url("fonts/genericons.eot");
}
@font-face {
				font-family: 'Genericons';
				src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAACToAA4AAAAAPHgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABRAAAABwAAAAcaQ5NM0dERUYAAAFgAAAAHQAAACAAmQAET1MvMgAAAYAAAABCAAAAYFFfaINjbWFwAAABxAAAAIoAAAGitaOchGdhc3AAAAJQAAAACAAAAAgAAAAQZ2x5ZgAAAlgAAB3aAAAv5CDZliloZWFkAAAgNAAAACoAAAA2A/DbsGhoZWEAACBgAAAAHAAAACQQAwfdaG10eAAAIHwAAAB5AAAA4kyuNstsb2NhAAAg+AAAANoAAADa2sbOtG1heHAAACHUAAAAHgAAACAAvgDAbmFtZQAAIfQAAAFiAAAC2ELtXf5wb3N0AAAjWAAAAYYAAARC9QsYLndlYmYAACTgAAAABgAAAAaWulJCAAAAAQAAAADMPaLPAAAAAM5oYysAAAAAzmhHOHjaY2BkYGDgA2IJBhBgYmAEwmwgZgHzGAAI4wCeAAAAeNpjYGb/yDiBgZWBhdWY5QwDA8NMCM10hsEIzAdKYQeh3uF+DA4PGL4ys6X9S2Ng4GBg0AAKMyIpUWBgBACGrAuTAAB42mNgYGBmgGAZBkYGEJgD5DGC+SwMDWBaACjC84DhI+cnzk+Snzm+cH6R/KL5xfKL55fILwlfmf//Z2AAyjJ8Yvgk8JnhC8MXgS8KXwy+OHwJAMoy/P+vwMzPwsfHx8GrxKPNo8ojzyPJI8zDy8POnQG1ESdgZGOAK2FkAhJM6AoYhj0AAN1pI2UAAAABAAH//wAPeNqNWglgVNW5Pv9dJwvJ7JOFSWYfJGFCZpKZhEAYQGQJSzAYAhFFFChBkbBYKCi3KgVFoVWJVpBEWwVti7RPRU19TqmtWhTLM/qs2yP2VRS1z7ZWBeaevP+cOwlhUcnkLufcc+/Z/v/7v/8/h8gE/+AL4bdEJArJIrkkn5BKi9ci2rw2lwW8OWCxwRcnH6O/fOkxug1mP/bSY8Jv9YthK+mjPX1A9TdIH5RTgfQRIIP+KglRBCLgR2UNv62SHPyyjbiwNoe3GrzV3pjX4e2/yngoJE0ETdcETQP8GuVf1FgO1USi43c0vNO0PoInDasQAAuo+MNv2zDtkaxmQfIEBLOVRONVIZ9iFyvgIbjq8GHaSa+gnYcPw0s9HR09HSo5nXMVK5E+3MEeECIRDTRVUzTeYgdxY3txNII4GkG52gtRYiZ+H56sHqdZ8YTMqnYCe6nhf1pjDRbIs6DQk88+Q0+AWgXZ3d30y25ZSxPR6NaCZNepFKiwElR6gm6jJ0TCSnRDNqtbIKbB40VsXouX1Q/siocmYjUqHmkCOBgCP8t4AOaJGiXsjuLgAHuksH4IhGSBRdFOaRLRNTbfIGAhWcNxG4IJu6JaZEsEqqviHqesbW/vI+3be6G+V9Y2vDBM/0gT7hv2wobO3l4cb5wNtb99BLBFWeC1sVnG6cIvsjNedMKmS+RiIMItgijryo187svwrUQ8WgpOez6EE/GqCgj58kEEF8guZ3QsuFTFh3lV/M4uLt7c0NPQ2tCwZd7mUGheqC245QNom0c76D94onVL5nHrlpD82JYGvO9hiWAbFg5tpt/jhVvZ/bzMU7wJtjHZwSOlsjGwEj/rS9TpsNgVP4623xeqtlTFwWJklQGOfsIbjQNO0IKurgU0SZMa3shHWUrDZArHc+9bKsFn+IAmIdW1APBOx/zTedpbfDz650XGEfHwucGJDSZKwGHPAzVcD1UhNVEiOnBewvEqgc8n1aS21parI02jWifNnJluLbrIba6rbm2Q8WOn8BBIW+vc4zfPeeTOutZJ3X/uXt5aPGbitPCMO+LYZ66XVSaULLIEexqViNVhJrISwhmvrgrXS+wkhMIRyBPUUFhRI2I+KC7FYS8RXYqaBxEIR6TwcMgDp6tEcpWo8YTdie0LB4ilykoCEjkC68H6EF1HDwV8MHH6Oq05sVTJNuXbpCGx0Vcnbrj99hsSC+srsrNHjVyaaNbWTavOHTq2ZY5HyHL74m4ptzDLUiRmuYt8Q0AcYi0NxMdcGgFfgB6i6x4CG6w3kYfo3+mmI/TX+idL1NJC6YVZN9dllU5u27fywfb8YZOvrARBslYGvYLgDVZaFEG468ZVnSv3tU32mCrmDcmDmoQ0xF9cIKg5RVbsW2mNVzQVFZYWOrPF7OhaqcCjLBGcMPPPsAH7weRWZSc+ZvmIAUESJfVkEmnkKEMQZgjiDGFAE/QpfqetXkqEArJCVGcgIcg4jiWCKy65BJxUqytOEqFwLkDcmgjIJWCFaEIQWVkxCrtw5Gw//zn9jG6i1+Dx2c9/DjZhikfzLP6T0jV969KLbqIH9GMH6T8qDsIXt98p3jnpqa9GO91h5TGY9oOiE0Wrr70RfnnMnKQf0nbptl2vFNBPaU/eqFbqfrLb+/j7dEvbWyZy1vexTl5vwPwIfUQY5akfH7jpruRltPtN5+QIFE2tvbKtxB2bnetVisFN/5XcQ19b+yrEp4/UmqPpr6+F2alIpPg++if6ciOUw61T6ZEXUwxXmE6ZiJrE0SKgqCgj2ZALfk/QGfMkUIqcsShexqAYMbhJOCWZyWAs6nTFE4oaN5HZNwkL/0Q/omuP0gfpO9EoBP92238PK/fXVv8k1by0eVHtbjgIQs6X++Z21m3bUHHbBmX9xnkB2166jx76+7bnlCeEhzaq+e5j98kj5VFPX9u+8OBHQyor9n15SX1xQ0dTPm+jRhBAVY2EB2u9xWvzjgFsiysR8vvyBDf4LTGLN4MEiJptHR1t9EPIy6Uflo1/RJmx9Iq7Wsop1cvxgap1tJ3CEsKLIKVyRyfgn9mJK9Zc/ClN67UdbexdjrlEk49hvYWYELFCC6uhql7A7peC6PcpbkE+lkf/QFPvv1+1+BfXJdqKitTfTYtJX9Mj6QPiFKgAYcbty5OKKNIPkxPzXkME6e9LPplBWsgVZDGXTyfKp4LyGUL5jIOtXqiuYiqcxcbaFQr4fZIai8bHQtypqIoKNhFVP+5yGnklwDKDOHeqGLdWV8kowKCgyIbCOeAUp8K1MO3zbds+p0/Qe+gT7E68Z1aBxe4qsAs22azkyiZRnDEqezn9eOdrdNfyquC1fp/Dlmcvr4TQ/hsvs+fb7Ztmhpb5/WYb5JvLKoXZ8pgvD7x94omTr9KNl4ih22+WhK//uULVBtcB03i9p0KQO7P2cm9kbrVPKskuzinIc1rs2bXNsOj6F/bKggilPlEW0vcKFmhRBZ8HslmmrdApyIJp2PDN9+u1bbDqndde+5Suv0Zy70pHIoos7NHHeQm3/ZnxrCbjyCyyiNl+vwWpCZMFLicImAiUJhzJBL+NJbw+RWUDi6LkBgaVobirBFxORURg8KkWJvMMSgHYkKJEIcK7EEdlReN8AUkBSpYsz98u+vMDNrfFYopMe2JeU9dm/cGNf2s05Ofk8ze+7HBsX7/uOadDu8k6xXbg3htfLXF7ikphrwr6E5dtKah9W5s91dYcGO12K4QRDf71NL481Ll93zKhKHeopdhe4MiuuqTuzgPtB0ZuW9g0jkm1pj8q/Xn3g3+RpL/9rCtFd0AT/G2jOKbWOzpIb3EHzaZFjZctBSgcUldY6as0bDoaJWWG4kK26Od6hKJTHQGUYYfdCZYqrkJqNRPyqkQ9PnVwAiNYYUKT0Dh+wqWzpBv33BadVeMz06/BZDJPjG3SZzHCJMszR42ePqNu1Mz0enjx8acKykOFK9LHoHuEbVjNf9AWsTB9bNA85ZOhJEYSgzXZUFnbhbWoX7OZ9nakv7N1/YpuTIq+6QLaCuQXaEwa0Y6M47bXaXXYBQkpRlhANQuHErYMBHLrrzAlRKUjrLkOOwqSygxwOIQqXC8EpMr9UPHK6sfoSy9e/bhvitk3f4fqfmjYnYubWoJj8lzrFq155mp6/Outnz3Q0mRVVXOW6nduvGXSjiNQZiLrXqan7viS3tA7P0nfr11/d3zPemH/rO9v7V52aeyug7VX//hpqHzqTci7es87a+++xlFUMGZYgTkrBvJj1717ePeVGXw3bGJzhkcwO+j3heMJWwkYLY8I2HQkL06XM44DnYiHwqFqA+VYD7HjCYZHIWNmSgFHwXUWjTBM/d3bp7onD93W+JB++xWPfLXtzn8++oPatiVWtySYRVnOu3iSlmp/ubex44pLr7blVJZMmnDpKrMpq91WoKCt2zeYNSDP30T//tDw1UugqLrhAIx9aWXPzxZO/+Ej/zH39teHm/JsWcksm9My4wdX/WbzrHf23fPVjjWNkd03DB8/5772slk2Gw02XXX7WkhDPEMPBNIlLFAXyF3IEphNMYc8itnpCWSu4tEv6N4vvoAWaXXmRpwNLV9k7vmVGIqvbkSagcgD1mBARCHAyUbMEEMikw1FdWFWMVhjUVbSjHZ9660Tk1vMphXtNVNG26sqj8zdv3Hz7HX2y2f9+NoHdFgOV8kPQKsplza577t8/37InwmTocJmuq/9hmtn0179X7QX/ht+z9yVjI+Tj+z3HN1BRorTSpDxd6bZWSrVsWxvJ+VZAp4Zr9XxRXiLaMow1EMfJvwKb7QjZrFzAETciycs2J8wEwFUPK80oc8yYuSUqcv+WFR065Xzb1ze2rL2R7dNG11uscBjtFnVts6dPybp1/Wt68aPW+kpddproKglUDgicj+8AoVn6H0p4k7duW1HWhEqA7SlYHfWQTQu8RmJm2Uvih/SbWQdCOROROt49RnKLx9vqNaqG/hJ76QHe5kHhNT7czPtoS20x0w/b6iWSXXDmRiA/k7mpYaGXuOt0vH1PbQHynvqx+uEPSQm5PygEoUSOylAxPIgaobIcBJh7J81XwU2TMB6kIB4FFxBi01OgC2suoKJsFd1yUE1C8KyRQoK/+l26+MtdqtNH+92C/9pGaY/fAxKboWSY/qpvcc//li/9eGHpa8fflgfTz84hlbvtmP0A+VfdERBKR3hcdLynBzocXrg9dICeD1H/+T+5yFGX33+fmjRn9+1a1dkOf51Pb+T7oWWnc/TV84Y82oyh/z2PAwjGmDGMCKE2bSj6ErhUCAcsibigQTaPgmBzCpBSFIVgQuGlMDeMgI4VowHYlHJhfIRsDmZ9DCGSMZwKxpgaV4+zkAkAjyNsMJRhclU5jEySvQYGdiwlMpQFB8iyrhKBI6dLAFY9HzcRRA+hS2L6+Z0vLxq9f5wfMrK6+lTe/bS45OmDpnTAiN+I3j/TPe89A6shfgD9I3rrrvGbnlkw1rwrJ82eYd+z11iHiwE666fQcnCgO979N3typzmrSvXNrX+HhzZy2Yvpl9ct3rMmCzT/dct/5+6Mc6GS96ZeZndEYtefnljqMpkiVXNbqqrzVXKSodVRCYPEfKyHM6J0ybZIiHrpLKyVu9URWjeNP7iRe6C4AfXr6xBanr8h7c8fV5mdOL9r17ZcvOaI7va7CMPrruX7lu7foW7+P3OXXDdT3f+V4liPkp3vP4e3fKOUqSuuX4Z/cuOe/qmTMqvddxDd7zZif1Yqd2xvjZ80w49e9uqVcP9Q33g+L2w7Pn66fa6+qXLNnz/hRJv0/zWD6ZOt4+uv3Lh7NkFrkrXpItaJk2WldGJpuBYs0OGmjKxZKq7xCuV+aZdGk6YsgpLL140blmF1XzdHVOXLSkrW7Vm3bo7XLa3M1wLfQUNfarFZCW5g0UGvB6cMORKaC0S9jzGmgRXnqgye8Ly6kWUMrkCItwaJpjjin6pyKxKBB9xu84cZ9nByLW3mtE2KJHQ7gjMp6+qFxPMEEkb76XF9OsHpkyvXnDvPFuNCRRBAsguzrONmXrH+lh0yjBrct0fNqw59JMl0VyLt7iydOhlNpsru3CINVg+2lNgLi2JFNivHtpSNuqaCSMdsaGtkZqrL466pLoM69LSl4yZdInPEbns1qbuv/rKxgUKRtwwzuZXyy77YXLP7EtuWZqUBYuUr+bl5KtF5RFboaQ6yzzuhhmTfOO/f2VNtLldm+AbO7LKN7KocJzZVlZg9XjzLe7Q+Pq50bIZY0dWOM36L9zB2nntyyuXJ/3Day9ftbqq/Sf9hLKP0HvL4slYfSAx/+JQ18aKWSOH52flW2Vmd36E+hzHcZ+DiRJGL0SmQJY8hV9KBARtr2Uk6hXqXUQJ+0dyWM+DErEU1IiE2lcvloguebdaOGViy8V1RXml8bt+cq+22O0GuTjcuGT57Ik2q/fiCTVmqBl3eP1Sl+Afe2nr5U1Ju238X7bVDisuFC3FBVlZvapr1EVDsydPuGTPnl8/eN/6y4vUi8Tc4dHL5t+y7cDC9genhZW87Gz6ieIcXT0mKBSW5A6BAl9ZXmCE+Bv9wyHe+TMennZz69RyX74JBMuG6LgRCxqnjyrPyX05y7N0+cMP/vHyGSvrPELe0MJsZqtYvIco5EyLNxDtYRaP+3gsuIM3CmPleMMCNx1toHEfjgVaFE1h8UZEbrRoLvQNxFhCwYFnATksq2ualpQ0XUMBZ5FK0h+nVFjdEjJm9CmyBGsmPqkQnVAikkNtDQ1tDQre62ieRUK1BpYzEC9SCbd5wXPRl0TrBcRe5IvoY2SBCpaYWIlQKD93/fXP0VP0A3qK3UHp8Td2trbufMO4wO0wfB7dj989o5DMXzx1/UA5dhEIfbMVGuFt3hceVyQ8PmrBtC9UFY867caIIrmOS208wkpRDDt706RX0nhklR7v7WTS2dk7uE85pJiUGxFWb3XMwQ4bI+voVDkyZhpixlyxafKz2hTtpMbjwprWUJ3m5ldkRjupFYVCVaEknhXtFHOO8Y9FlFkJnZ2FJ0NFlODzIkhhybPaEf+OdtQJaF/cIrrFaFQikLDx1sS+oTk0KYDo9IqCpowoKhqqXruP1fuNDRM8LkEAQc7G9g1V8RX4NWshIblntLGU+1tlpIJ7PXVkLJnwXaPn8Aczhzzo/uz0Nw0qYUFr4xh8f3b6G/ulnfvXH7dnnILHuMHB1BCq8RxDlgMqiyOnNEYyIclC2iwsLmsaTVG+NpAEckrjmWesAdh4rJ5TqYiA9iFagsRDlQcC9irRqOWnT685rQbX04pBsXrAT//fIMlf8/RPrx8cpzfk9nRd3m+tTURk+K4aNwu8k99erWBgyJl1X8Tw58yqASuNGdXDafPnVc5pAvwfTrX6TKYdcKLfZrEKzm4JtYi8EZkGkQH7gkhGoNxElB4yBOXSzyL7FogHPJILG4bYFBYRSqLxRBYwV0+NZ1ZLpAzuwclFkAPlkHMNnKLKIvpvZNn/vuYTWDn9D2+9MA3W0Dt3H732Dw3vIQlntBoMfJQInFyyatViKlN5ycpVS+AkvXNGU9N0WA2rHrx0Rm6GgXdmsFMeaCNbeSrGNsbYnPEGgQsZNaOfchiwyYYTzpqORDzBvPAEhBOMnaOV8MmLty9Zgc2hd3y+hW7hbe/4HXw67xSZJzxJy/N6O8vFHt6Njt89zIqyLvxji+6EHvZMWbM9cukM9jLySOzAD9mLUiktj5d39lKN9eXK7RHWjX9sZu+wbGKs0wgatxvc3jAXIAuwUS4pxRQjxdYd+OJDEpNS8owkZUX6453cZz/nG2JSS6fSKU1M8pPIvnFGMs2KDMR7GObnEBcZYazgBY2Yl0P2sillmGN3ygOeWGzQT0F1BdKA/haDReAA3MfOwjwDJwxcYMt7hjOFyIf/KT3JUgJeTx/MjiNrIcoOkoXtCIKYBSLIojhNfwLePQDvwDsH4F39ySelm4A+pX8M0+gTggumguAifP2KZNZe8pgkMLSxcPjEn6JlsAY720fYj6/H8RzKf8APlH22yqca9lwl2cwOIno50G/OEi1scdOVYPZexx+8KsVoDF49SYRkKiW/GosxJRIW01fpqxCDmE5iMWCgKPExTikp/KYJWYLZYBg4URB2oYQKCDWptEaToqb/aoHQtKCLX3TGMQD7k9YgJWrpzwY/AqbZpJ/74NeZGATZaiI7ZE5ZmIilICWk0KPn9OUMrBmC/qqHWZgo2qEinHazQAKYYktI3iohYOXK7IwCOQLbYBYM/ePyPnKIPkpDNG0Ec/rYSuvjK7pWrOhiYcnlf6T/Sx+nK4+ABG/DnEMU84x4zxG46rDOy63geEccyFM/USM4FgXGOpmTy1YC6sEpWljFzMhF40IGUqQ3hK9aVu458cnelS3C17U7dxZzGGh40qBWj58q2/bKK9ukN+ZPmJBeDVzSKDvT6gxcYJ39cREnKUFvl9hQtrlX4XJGE/GqMAsoSqqX9PeaxX6Z9xEO+VSFRT1i6Ap7NfjxiInZ3tduvX91aGkoGGz5+OaD9GADPZShQqKTrjAK7GoPtWGBuR/dfBDqG6BaIonhNz60MhQKtQXnXtPzS8rLdwDPXhXszzawgWTWcMOMEzKKxMIbqG52pydePWh8eB6nT1ViN2R3G2ZFY7c41qhoGl5U0r1J17hVeoaByKbu7k2C1rhiRWOGML1AR7OUQDZxPYK7FCYfeThShNgV1KQIcFMExBPncTCFzG2kS+nSxrmGRdE7+tfCq4+/3kjboKPxdcPQ6Dd0G4+Mfi1gmCcfZeqVBX5IuIDRYo0e1Y5Cii0uQ5eWEgwZQekxsXYY6+WMCRWCoc1eE/ma9B8qN1w6X5/uG8wZLCTAvAFLOI8v1FlCAXQtrQmwC6rLaylFUauuEsIWp2RFldc+mtz4lz1P0Hf3rl0mu9cu+6uu2d6YNAuzILBXxc9/NOmZ7+2nn5XRkyVvwsTuneBapv91J/142V8FVvLZJfvBVgZq6Rv0WeZLiNhPSeO9YPCDKClxS5zBKTYAxjp7Zv2flyBp/l4aYaIPq8RLk5A0Efl/eCyy2FjLZuYfgSNzITgr9jzw4QzF+/0OGAF3a9QGa1bILxlX+m99w767m5vvZqedu9vbd7eLKcbihc56WjpwA5pRAk+0uZ0VG4wXKrezhC1pG8e5aqriHOh8m4KIPRisovJAPosunkdDsww7xLmwi0cAyzgPPs2CMzbJsEYxbplkPyIyDgRBLwW1oCrIdpp80/0gS5XqMwSfnSGERA3HXTcsE/BdF29/w73BhVnjjdKcFIukP3HWlRg2Gu0J8yuL+VqK07CiVfG6DC9x1XMvyK4sdQ0ELNtUtXvTj66o6F7Z2SsRAyjc/k3dCxat7+2s5zqK6KBKxp6bLL7jAh0XFA4Is/0V8agNWZ18H5RMnfrx1CMNtJYehRcBEw09d/WRLrRgz9IPGl5v+HiKMJnWgoc97Gn4eKr+KZAuw66I2C+Z0Sy2Wp4ZR9Foimw0ick5vC5/Jv+K2R5mb5GXQkL+jNrmwBy+ZeXROShntmaYo8GcZtR/G7yuaP3lE7x8GDM/m0MfZZtfYM6Z5VFXkgprA/5nCchs0PCmdGRBaNXQD08JyIXQsBl2kPMpOcmZIbf+CtG4xy8kGfin+J2xziFi29gukYvAIvK9NfgKais2y8gHBjFpvh/H8EM4t+B7YxSDIaH9ZrLALOwpvnmJKyxbLxAwU9YUcsa+qPN5d2Sw/xZ0+KvhW3y486WFwU7bt/tw50srpN9r6yPa+f/YUAk8vsFjFIb+nx2V9zL9y+zIwsHjgRZ2Fo6zfULUQAGVdLSl+TMWiuljkZH+KEgGY3gdLrTNobPrQO/X4sXxqYqzHVM49NbzVMd3kWns3tg3deisanGAUAq0tg6dcOrE9qANcAOUY8L9cIazhRxlWeTDcfpqJypiUAjlg+OaYMBbGoWNvvdeH3mPvicPoFrmSo7RB0fQf8GQEXAl25OEo8lxoJT3MIMEDNjOhwZ89xWaBQMUKN/8xe4UZQAYGL3izJWwzUucSvSxi8fTDxR6PWuMsXPvNA75BtfOa/kWODpdCZ/TwfVn6mSDfVa9mVhSho+beFQO7RUHCGARSK/K+oYi+fY8IUTnsaAq22SH5BlfQG77iP52qxBkEkvZ1jqmWeJAbEpCVj4kYxMMQgCxsLG/0Ggrsz2HDjHajLODbzGEPpTR48w8W7gk+5klqUN1NiQ5hp8LVSW4fVE07qAk+2UWvxGNRtOHWeCDCa5mCPJJLXFXApNsfrtIl7pAXUAiPNqkBhXVpobZ2o8atoXCcjiBA5wIJ+R4Qky44lFXwiU6XUEX20mj9rvO6oJR9LXysc6tL0/IMk14eaujJkZfG/WRyfTRKKisGO3AfPOEl+9w1sSgkmXrJRyQhU9Z1umSg78wusIo+tHgLz+Z2RE52L7nGPo9eKclsMVqFeJBO4lFE6CcveNSitKeni3rhe7J6G6U92zeoE+cfM72S/1wD5RP1ieu39JDeyYL3TedWydOAdNxtoQP/bYmkLkKDIYZx+MMKm3AiZi5IEZJhGNvBk4a+nX6dCxzgGexn8i225F+Q84Og28PcLIMX0sTg4dxPokSo/RjP/8KMK+RF8p8RhiIBRtlBYPh8sIy/xjN7NDMVJnZw0lO7+Hk1Rl7OEXgm9RMF4S5/cFtLqlSG/+KAX4mBL+ThtZyzD11BuZyPGJ1nBdzM0TbMoC556uO4Q6bmo7j/agLDWfVzAZK5syvrSPdj7x6BnmlM+LfzDp+ewS8XzRcMYv/QuLgvsaamsYaj3ZBkXBxYg0r/hJNntUu/3e2C8SY2E81L6RdgvM51wretgtpGDwMu+nCBbx15Ky2jSWTvqttDF746r0b0ISyhR+2oBsOoWKHEe+FC2+3QBIFhfGy/JzNVnPEY8s3W4rHzR2z/IaFey64L6J3eAPWHSg25zqcoeElbrcdXTNbdk7F9+v1E5ku8jik4atzjeM/ke88lrDzcJR6UKQ8cJTZhfOVlTgZSJ9T9nRsR0Hv1sr8W+aFxmzMDLKLzRv2q+xgZp79N8Ns8U0msMDvm9PLyrQy8U08yXwXNHBpNq4GYWIxOcYjU0yvY+jViCn2Sycze2wwbeI7lFGnWDZ/bvRZSvJYHj6zZd5DEprEpyAlM3E+fBbMAiObl/h/5ELZpQAAeNpjYGRgYGBmcGRoE3GJ57f5ysDNwQAC5zLcLZFpDgYOCMUEogDNhgZcAAB42mNgZGDgYPh/A0QyMPz/DySBIiiAFQBj/AP1eNpNTssNg1AMswOH3hH7sEMXYBRLSJ2DMyzUQTpA4+QdyFPy8nFi84eyuABm/kKAgKBAiOIB120KeULHO+uzqm96beBD5EbifeP5iqE2B6JQWM1CxW4O+u7bv3GT+0v1MGeMvqmhzNnZTM3VqgebhqL0efsDogQc4QAAAAAAACYAJgAmAC4AXgCIAMYA7AD6ARYBMAF8AbgB8gKMAyYDeAO0A94EhgUaBVoFsAYWBpoGvAb6Bx4HVgeyCBAJPAn4CnQKlgqyCtALGAs6C34L0Aw6DGAMlgzUDRwNbg3ODfAOEg5YDnYOmg7EDvIPCg9MD4YP3BAaEEgQXhB6ELwQyhDgESIRVhHCEewSHhIwEkgSYBJ2EooSlhKkEroTIhNUE5QTxhQGFD4UZhSIFLYVEhVMFX4VlBWiFbgVzhXcFg4WUBacFuoXXBdyF4gXuhfIF9YX5BfyAAB42mNgZGBgyGHYyyDAAAJMQMzIABJzAPMZACGCAX8AAHjajZK9TgJBFIXPAppgYUUsrEi0UBN+V6JCZaEmagyRqJ0J6gJG/oQVsPH59AUsfQhLK78ZhkiAwtzM7Llnzpx7Z2YlrehNUXmxuKQvxhh7SpCNcUSr+nY4qqI30cS06RUdXtLIu3V4Gf7T4bjWvR+H37UWSTj8oWxkRycq61xJDRSop74e1VGbPM/owCRVJX/l2wSFVjWvHoJCNUA1y4SgQCPdM3fJJrotNCHRVVEZYmgjrTqrL3xNxTp8kx1mb5saASMD24VN4V/VM0rj04LZ0LGreDRXb5vTGQ/Tq/HrWL9L8jrVzHl68vHKEjmVdKUz3egCtGhfambnIk1yRnM9c0/T1cqqwJhsmm2gDJ3fgPWcXUtrj7nEiat6wtNoarDmnu54q7QKduzjldfBv/o/hQ9sV4estuD79rbb3EGA699Ljnsw7ANZxd6x+UMKtn+ftyxol9knDG9O4v8Cm79wHQAAeNptz8VunEEQReE5E3CYmZnh7+rqsR1yyA4zM4OjKLu8Zl4p4Dn2Ki21zu7TrV6/N/N+/+pF73/v+99Pr0+fecxnAQsZYRGLWcJSlrGcFaxkFatZw1rWsZ4NbGQTm9nCVraxnR3sZBe72cNe9rGfAxzkEIc5wlGOcZwTnKSjEFSSxoBRxhjnFKc5w1nOMcF5LnCRS1xmkimucJVrXOcGN7nFbe5wl3vc5wEPecRjnvCUZzznBS95xWve8JZ3vOcDH/nEZ77wlWm+jfz8MT3Zdd2/TpW5Fhu22rTNDuyoHbPjMw290Au90Au90Au90Au9mPWKXtErekWv6BW9olf0il4ZetV91X3VfdV91X3VfdV91X3VfamTOqmTOqmTOqmTOjnnDHeld6Z3pnemd6Z3pnemd6Z3pnemd2bohV7ohV7ohV7ohV7ohV7Vq3pVr+pVvapX9ape1at6qZd6qZd6qZd6qZd6qZd6Ta/pNb2m1/SaXtNrek2v6Q2GXutmW2zY+geZy/+KAAAAAVJClrkAAA==) format("woff"), url("fonts/genericons.ttf") format("truetype"), url("fonts/genericons.svg#genericonsregular") format("svg");
				font-weight: normal;
				font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
				@font-face {
								font-family: "Genericons";
								src: url("fonts/genericons.svg#Genericons") format("svg");
				}
}
/*
Reset
*************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
				display: block;
}
body {
				line-height: 1;
}
ol, ul {
				list-style: none;
}
blockquote, q {
				quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
				content: '';
				content: none;
}
table {
				border-collapse: collapse;
				border-spacing: 0;
}
/*
Default Impress styles
*************************/

.hint {
				display: none;
				position: fixed;
				left: 0;
				right: 0;
				bottom: 200px;
				background: rgba(0, 0, 0, 0.5);
				color: #EEE;
				text-align: center;
				font-size: 50px;
				padding: 20px;
				z-index: 100;
				opacity: 0;
				-webkit-transform: translateY(400px);
				-moz-transform: translateY(400px);
				-ms-transform: translateY(400px);
				-o-transform: translateY(400px);
				transform: translateY(400px);
				-webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
				-moz-transition: opacity 1s, -moz-transform 0.5s 1s;
				-ms-transition: opacity 1s, -ms-transform 0.5s 1s;
				-o-transition: opacity 1s, -o-transform 0.5s 1s;
				transition: opacity 1s, transform 0.5s 1s;
}
.impress-enabled .hint {
				display: block
}
.impress-on-intro .hint {
				opacity: 1;
				-webkit-transform: translateY(0px);
				-moz-transform: translateY(0px);
				-ms-transform: translateY(0px);
				-o-transform: translateY(0px);
				transform: translateY(0px);
				-webkit-transition: opacity 1s 1800s, -webkit-transform 0.5s 4.5s;
				-moz-transition: opacity 1s 1800s, -moz-transform 0.5s 4.5s;
				-ms-transition: opacity 1s 1800s, -ms-transform 0.5s 4.5s;
				-o-transition: opacity 1s 1800s, -o-transform 0.5s 4.5s;
				transition: opacity 1s 1800s, transform 0.5s 4.5s;
}
.impress-enabled {
				pointer-events: none
}
.impress-enabled #impress {
				pointer-events: auto
}
/*
General rules
*************************/

body {
				background-color: #fff;
				color: #5d6d74;
				font-family: "Open Sans", Helvetica, sans-serif;
				font-weight: 400;
				min-height: 740px;
}
body {
				font-size: 1em;
				font-size: 26px;
				line-height: 1.4;
}
::-moz-selection {
				background: #91bd51;
				color: #fff;
				text-shadow: none;
}
::selection {
				background: #91bd51;
				color: #fff;
				text-shadow: none;
}
h1, h2, h3, h4, h5, h6 {
				color: #5d6d74;
				font-weight: 700;
}
h2, h3, h4, h5, h6 {
				padding-bottom: 0.1em;
				margin-bottom: 0.5em;
				border-bottom: 1px solid #d6d6d6;
}
h1, h2 {
				font: 300 2.57143em/1.4em "Open Sans", Helvetica, sans-serif;
}
a {
				color: #0d72b2;
				-webkit-transition: color 0.2s;
				-moz-transition: color 0.2s;
				-ms-transition: color 0.2s;
				-o-transition: color 0.2s;
				transition: color 0.2s;
				text-decoration: none;
}
a:visited {
				color: #0d72b2;
}
a:hover {
				color: #0f92e5;
}
a:focus {
				outline: thin dotted;
}
ins {
				background: #eee;
				text-decoration: none;
}
img {
				vertical-align: middle;
				width: 100%;
}
hr {
				display: block;
				height: 1px;
				border: 0;
				border-top: 1px solid #ccc;
				margin: 1em 0;
				padding: 0;
}
ol {
				list-style-type: decimal;
				margin-bottom: 0.5em;
}
ul li:before {
				display: inline-block;
				-webkit-font-smoothing: antialiased;
				font: normal 16px/1 'Genericons';
				font-size: 1.6rem;
				vertical-align: top;
				content: '\f428';
				line-height: 1.3;
				padding-right: 0.4em;
}
/* Slides
*************************/

.step {
				position: relative;
				width: 900px;
				padding: 40px;
				margin: 20px auto;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-ms-box-sizing: border-box;
				-o-box-sizing: border-box;
				box-sizing: border-box;
}
.impress-enabled .step {
				margin: 0;
				opacity: 0.3;
				-webkit-transition: opacity 1s;
				-moz-transition: opacity 1s;
				-ms-transition: opacity 1s;
				-o-transition: opacity 1s;
				transition: opacity 1s;
}
.impress-enabled .step.active {
				opacity: 1
}
/*
Step 1 - Intro
*************************/

.impress-on-intro:before {
				display: block;
				content: " ";
				position: absolute;
				width: 100%;
				height: 700px;
				background: #81a844 url("img/the-cloud.svg") center bottom repeat-x;
}
#intro h1, #intro p {
				color: #fff;
				text-align: center;
}
#intro h1 {
				padding-bottom: 0.3em;
				font-size: 3em;
}
#intro {
				padding-bottom: 6em;
}
/*
Step 4 - WordPress.com
*************************/

#wpcom ul {
				margin-left: 5em;
}
/*
Step 5 - Jetpack
*************************/

.impress-on-jetpack {
				background: #81a844;
}
.impress-on-jetpack:before {
				display: block;
				content: " ";
				position: absolute;
				width: 100%;
				height: 700px;
				background: #81a844 url("img/the-undercloud.svg") center top repeat-x;
}
#jetpack img {
				margin-bottom: 1em;
}
/*
Tiled Galleries & Carousel
*************************/

#tiled-galleries-carousel .images {
				clear: both;
}
#tiled-galleries-carousel img {
				width: 50%;
				float: left;
}
#tiled-galleries-carousel .carousel {
				padding-top: 2em;
}
/*
Manage
*************************/
#manage ul {
	margin-top: 2em;
}
/*
Last Slide
*************************/

#overview img {
				width: 50%;
				float: left;
}
#overview .last-questions {
				font-size: 2em;
				margin-top: 2.3em;
}
